@import url('./style.css');
*{
    font-family: 'Inter';
    border-radius: 10px;
    color: white;
}
p{
    font-weight: 200;
    line-height: 1.4;
}
section{
    margin-top: 100px;
}
img{
    width: 700px;
}
.info-image{
    border-radius: 10px;
}
.info-image:nth-child(2){
    width: 200px;
  }
  #info{
    background-color: #005A9C;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
  #info-text{
    margin-top: 30px;
    width: 500px;

  }
  .info-image:nth-child(1){
    width: 500px;
  }
  #sectionTitle:nth-child(2){
    width: 500px;
    margin-bottom: 30px;
    border: none;

}
.about-Title{
    text-transform: uppercase;
    color: #005A9C;
    font-family: 'Nunito Sans';
    font-size: 30px;
    text-align: center;
    
}
#details{
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details-image{
    width: 1200px;
}
#divisions-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#networks-generation{
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #005A9C;
    width: 70%;
    
}
#division-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
}
.division-info {
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
}
#networks-generation .about-Title {
    color: white;
}
#about-division{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}
#about-division img{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.division-step{
    background-color: #005A9C;
    padding: 15px;
    width: fit-content;
}
#steps-title{
    font-family: 'Nunito Sans';
    color: #005A9C;
    font-size: 30px;
}
#division-text{
    color: #005A9C;
}
#footer-logo{
    border-radius: 0;
}

#horizontal_nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
    margin-top: 15px;
}
header{
    display: flex;
    align-items: center;
    background-color: #005A9C;
    padding: 2%;
    width: 96%;
    border-radius: 0;
    margin-bottom: 50px;
}
#nav_logo{
    width: 300px;
    border-radius: 0%;
}
.horizontal_nav{
    transform-origin: center;
}
#page_title{
    font-family: 'Nunito Sans';
    font-size: 70px;
    margin-left: 20px;
    text-transform: uppercase;
}
