@import url('./style.css');
@import url('./news.css');

* {
    font-family: var(--font-inter);
}

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}


body {
    overflow-x: hidden;
}

.contact_card {
    justify-content: left;
    align-items: flex-start;
    display: flex;
    background-color: var(--primary-color);
    padding: 2rem;
    width: 20rem;
    min-width: 8rem;
    max-width: 30rem;
    border-radius: 0.625rem;
    flex-direction: column;
    gap: 1rem;
    min-height: 20rem !important;
    height: 20rem;
    transition: all 0.2s ease-in-out;
}


#contacts_list {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
}


@media only screen and (max-width: 480px) {
    .to_general {
        margin-top: 5rem;
    }

    .contact_card {
        flex-direction: column;
        padding: 1.5rem;
        width: 90%;
        gap: 3rem;
        border-radius: 0.5rem;
        height: 20rem;
    }

    #contacts_list {
        gap: 3rem;
        margin-top: 5rem;
    }
}