:root {
  --primary-color: #005A9C;
  --secondary-color: #002e4e;
  --background-color: #d3dce4;
  --white: white;
  --font-inter: 'Inter', sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;
}

* {
  color: var(--white);
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;

} 

body { background-color: var(--background-color); }

a { text-decoration: none;}

p { 
  font-weight: 200;
  line-height: 1.4;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  z-index: -100;
  pointer-events: none;
  overflow: hidden;
}

#background-image, #gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#gradient {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  opacity: 0.5;
}

header {
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 30px 0 50px 50px;
  
}

#logo {
   width: 400px; 
   min-width: 200px;
}

#map {
  width: 250px;
  display: flex;
  margin: 40px 30px 0 auto;
}

.welcome {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  flex-direction: column;
}

#welcome-title {
  font-size: 70px; 
  
  font-family: var(--font-nunito);
  text-transform: uppercase;
}

#welcome-textbox {
  font-family: var(--font-nunito);
  display: flex;
  flex-direction: column;
  
}

.welcome-slogan {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
}

.welcome-slogan:nth-child(2) { 
  font-weight: 200; 
}

#checkbox2 { display: none; }

.toggle2 {
  margin-right: 5%;
  margin-left: auto;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition-duration: .5s;
  z-index: 1000;
}

.bars {
  width: 100%;
  height: 6px;
  background-color: var(--white);
  border-radius: 6px;
}

#bar5 { transition-duration: .8s; }

#bar4, #bar6 { width: 80%; }

#checkbox2:checked ~ .toggle2 {
  position: fixed;
  right: 0;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: .5s;
  transform: rotate(180deg);
}

.menu_link {
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
  transform-origin: right;  
}

.menu_link:hover {
  font-weight: 700;
  transform: scale(1.2);
}

#menu_list {
  align-items: end;
  position: fixed;
  top: 0;
  right: -300px; 
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  padding: 150px 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
  z-index: 999; 
  transition: right 0.5s ease-in-out;
}

#checkbox2:checked ~ #menu_list { right: 0; }

#short_info {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  z-index: -5;
  width: 100%;
  height:  fit-content;
}

#short_info-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 50px; 
}

.short_info-button {
  display: flex;
  width: 200px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 35px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.short_info-button:nth-child(2) { width: 100px; }

.btn {
  transition: all 0.2s ease-in-out;
}

.btn:hover { transform: scale(1.1); }

#divisions {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 100px auto 0;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.division {
  padding: 30px;
  display: flex;
  width: 600px;
  min-width: 300px;
  position: relative;
  height: 300px;
  justify-content: right;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.6ms ease-in-out;
}

.division-title {
  font-family: var(--font-nunito);
  width: 360px;
  text-align: right;
}

.division:hover > .division-gr {
  opacity: 100;
  transition: all 0.2s ease-in-out;
}

#division-bg {
  border-radius: 15px;
  position: absolute; 
  top: 0;
  left: 0;
  pointer-events: none; 
  overflow: hidden;
  object-fit: cover;
}

.division-title, #division-btn {
  z-index: 10;
}

#division-bg, .division-gr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.division-gr {
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  opacity: 0.5;
  border-radius: 15px;
}

#division-btn {
  display: flex;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
  border: 2px solid var(--white);
  width: 120px;
  height: 5px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.division:nth-child(2) {
  width: 400px;
}
.division:nth-child(3) {
  width: 400px;
}
.division:nth-child(2) .division-title {
  width: 200px;
}

#division-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: 700;
  transform: scale(1.1);
}

#projects {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
  gap: 15px;
  flex-direction: row;
  width: 65%;
  flex-wrap: wrap;
}

.project-card {
  width: 550px;
  min-width: 100px;
  max-width: 550px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  align-items: center;
}

.project-image {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
}

.project-title, .project-description {
  margin: 15px 15px 2%;
  color: var(--white);
  width: 90%;
}

.project-title {
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 23px;
  font-family: var(--font-nunito);
  font-weight: 500;
}
#project-side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project-description {
  font-weight: 200;
}

#project-secondary .project-card {
  width: 300px;
}

.project-card:nth-child(5) {
  background-color: #fff;
}

.project-card:hover > .project-image {
  opacity: 100;
}

#sectionTitle {
  font-family: var(--font-nunito);
  color: var(--primary-color);
  text-transform: uppercase;
  display: flex;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  font-size: 50px;
  border-bottom: 3px solid var(--primary-color);
  width: 100px;
  transition: all 0.2s ease-in-out;
}

#project-secondary .project-card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: none;
  background-color: var(--primary-color);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.sidecard {
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
}

.project-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.centercard:nth-child(1) {
  width: 500px;
}

.centercard:nth-child(2) {
  width: 500px;
  background-image: none;
  background-color: var(--primary-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.allprojects {
  display: flex;
  justify-content: center;
}

#project-center, #project-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer {
  border-radius: 10px;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

#links {
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px;
}

.footer-links {
  font-size: large;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
  transform-origin: center;
}

.footer-links:hover {
  font-weight: 700;
  transform: scale(1.2);
}

#contacts {
  margin: 40px 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer-logo {
  width: 300px;
}
@media only screen and (max-width: 600px){
  #divisions{
    flex-direction: column;
  }
  .division{
    width: 200px;
  }
  .welcome{
    margin-left: 15px;
  }
  #welcome-title{
    font-size: 30px;
  }
  .welcome-slogan{
    font-size: 20px;
  }
  header{
    padding-left: 10px;
  }
  footer{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }
  .project-card{
    width: 300px;
  }
}